<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--日志过滤器-->
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.wang.filter.LogFilter</filter-class>
    <!--初始化参数-->
    <init-param>
      <param-name>Site</param-name>
      <param-value>我的教程教程</param-value>
    </init-param>
  </filter>
    <!--身份过滤器-->
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.wang.filter.AuthenFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.wang.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloFormUrl</servlet-name>
    <servlet-class>com.wang.servlet.HelloFormUrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.wang.servlet.HelloForm</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>com.wang.servlet.DisplayHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>com.wang.servlet.Refresh</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ShowError</servlet-name>
    <servlet-class>com.wang.servlet.ShowError</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowError</servlet-name>
    <url-pattern>/ShowError</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/DisplayHeader</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloFormUrl</servlet-name>
    <url-pattern>/HelloFormUrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
</web-app>
